@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@font-face {
  font-family: 'meltedMonster';
  src: url('https://rjc7066.github.io/js-dev-final-capstone-starter-simon-says/assets/meltedMonster.ttf')
}

html {
  background: url('../assets/spooky-background.jpg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: #FF6C22;
  font-family: 'meltedMonster', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: transparent;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #FF6C22;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #FF6C22;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  color: #FF9209;
  font-size: 18px;
  border-color: #FF9209;
  transform: rotate(3deg);
}

.status {
  font-size: 22px;
  text-shadow: 4px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: rgba(211, 1, 1, 0.80);
}

.pad-red:hover,
.pad-red:focus {
  background-color: #ff451a;
  transform: translate(-2px, -5%);
  box-shadow:
    0 0 20px 10px #e5bb60,
    0 0 40px 20px rgb(244, 81, 21),
    0 0 70px 35px rgb(75, 70, 28);
}

.pad-red:active,
.pad-red.activated {
  background-color: #ff5c36;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: rgba(9, 94, 9, 0.80);
}

.pad-green:hover,
.pad-green:focus {
  background-color: #8cc218;
  transform: translate(2px, -5%);
  box-shadow:
  0 0 20px 10px #e5bb60,
  0 0 40px 20px rgb(244, 81, 21),
  0 0 70px 35px rgb(75, 70, 28);
}

.pad-green:active,
.pad-green.activated {
  background-color: #a0ea00;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: rgba(147, 147, 52, 0.80);
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #ffb900;
  transform: translate(2px, 5%);
  box-shadow:
  0 0 20px 10px #e5bb60,
  0 0 40px 20px rgb(244, 81, 21),
  0 0 70px 35px rgb(75, 70, 28);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #ffca3d;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: rgba(38, 38, 147, 0.8);
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #139ddd;
  transform: translate(-2px, 5%);
  box-shadow:
  0 0 20px 10px #e5bb60,
  0 0 40px 20px rgb(244, 81, 21),
  0 0 70px 35px rgb(75, 70, 28);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}

footer {
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer a {
  color: white;
}